*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* This is header style */
.header{
    height: 800px;
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    float: right;
    text-align: left;
    
}
.header-title{
    margin: 300px 850px 25px 100px;
    color: black;
    line-height: 40px;
 
}
.header-para{
    margin: 0px 850px 25px 100px;
    font-weight: 550;
    font-size: 18px;
    line-height: 28px;
    color: black;
}
.btn-primary{
    float: left;
    height: 40px;
    width: 130px;
    font-size: 18px;
    margin-left: 100px;
    color: black;
    font-weight: 700;
    background-color: #0482d6;
    border: 0px;
    border-radius: 8px;
}
/* This is main section style */
.container{
    display: inline-block;
    height: 800px;
    margin-top: 50px;

}
.text{
    height: 800px;
    width: 50%;
    float: right;
    padding-top: 170px;
}
.text h2{
    margin-bottom: 15px;
    line-height: 40px;
}
.text p{
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 15px;
}
.text h3{
    margin-bottom: 15px;
}
.text ul{
    font-size: 18px;
    font-weight: 450;
    line-height: 30px;
}
.photo{
    height: 500px;
    width: 50%;
    float: left;
}
/* This is plan style */
.plans-section{
    margin-top: 50px;
    text-align: center;
}
.plant-title{
    margin-bottom: 40px;
}
.plant-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 0px;
}
.plant-container img{
    height: 60px;
}
.plant-container p{
    font-size: 14px;
    font-weight: 420;
    color: #4d6d88;
}
.plan{
    height: 150px;
    width: 180px;
    background-color: #FFFF;
    box-shadow: 0px 5px 15px;
    border-radius: 10px;
}
/* This is banner style */
.banner{
    text-align: left;
    height: 230px;
    width: 80%;
    margin: 100px 150px 40px;
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.65), hwb(229 0% 0% / 0)),
                        
                        url(images/watch.png);
    background-repeat: no-repeat;   
     /* background-image: linear-gradient(to right,#0674f1af,#0674f131); */
    border-radius: 30px; 

}
.banner h2{
   padding: 80px 0px 0px 60px;
    
}
/* This is second button */
.btn-primary-2{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: 60px;
    color: black;
    font-weight: 700;
    background-color: #0482d6;
    border: 0px;
    border-radius: 6px;
}
.footer-section{
    display: flex;
    background-color: black;
    border-radius: 5px;
}
.future-section{
    width: 50%;
    color: #00b7cf;
    text-align: center;
    padding-left: 30px;
    padding-top: 60px;
    line-height: 25px;
}
.subscribe-section{
    width: 50%;
    color: #FFFF;
    text-align: center;
    padding-top: 60px;
    line-height: 25px;
}
.subscribe-section h2{
    color: #00b7cf;
    margin: 8px;
}
.email{
    border: 0px;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 8px;
    display: block;
   margin-left: 250px ;
}
.btn-primary-3{
    background-color:#00b7cf;
    color: #FFFF;
    border: 0px;
    border-radius: 8px;
    height: 30px;
    width: 120px;
    font-size: 17px;
    font-weight: 600;
}


